body.rtl #sp-top-bar .sp-module {
  margin: 0 20px 0 0;
}
body.rtl .sp-contact-info {
  float: left;
}
body.rtl .sp-module-content .mod-languages ul.lang-inline li {
  margin: 0 0 0 5px;
}
body.rtl #offcanvas-toggler {
  float: left;
  margin-left: 0;
}
body.rtl #offcanvas-toggler >i {
  padding: 0 10px 0 0;
}
body.rtl .close-offcanvas {
  right: auto;
  left: 0;
}
body.rtl .offcanvas-menu {
  -webkit-transition: .4s;
  transition: .4s;
}
body.rtl .body-innerwrapper:after {
  left: 0;
}
body.rtl .offcanvas-menu {
  left: -280px;
}
body.rtl.offcanvas .offcanvas-menu {
  left: 0;
}
body.rtl .sp-megamenu-parent {
  float: right;
}
body.rtl .sp-megamenu-parent >li.sp-has-child>a:after {
  float: left;
  margin-right: 5px;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
  float: left;
  content: " \f104";
}
body.rtl .sp-module ul >li >a:before {
  margin-right: 0;
  margin-left: 8px;
  content: "\f104";
  float: right;
}
body.rtl .entry-header.has-post-format {
  margin-left: 0;
  margin-right: 68px;
}
body.rtl .post-format {
  left: auto;
  right: -68px;
}
body.rtl .article-info >dt >i,
body.rtl .article-info >dd >i {
  margin-right: 0;
  margin-left: 3px;
}
body.rtl .entry-link:before {
  top: auto;
  left: auto;
  right: -60px;
  transform: rotate(-90deg);
}
body.rtl .entry-quote:before {
  left: auto;
  transform: rotate(-15deg);
  top: auto;
  right: -40px;
}
body.rtl .categories-list .page-header a.pull-right {
  float: left !important;
}
body.rtl .newsfeed-category .category li .pull-left {
  float: right !important;
}
body.rtl .search .btn-toolbar .pull-left {
  float: right !important;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right {
  left: inherit;
  right: 0;
}
body.rtl .sp-megamenu-parent .sp-dropdown li.sp-menu-item >a,
body.rtl .sp-megamenu-parent .sp-dropdown li.sp-menu-item span {
  padding: 10px 25px 10px 10px;
}
body.rtl .menu-slide-down .sp-has-child >.sp-dropdown.sp-dropdown-mega {
  right: inherit;
}
body.rtl .menu-slide-down .sp-has-child >.sp-dropdown.sp-dropdown-mega {
  left: 0;
  right: auto;
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler {
  right: inherit;
  left: 0;
}
@media screen and (max-width: 767px) {
  body.rtl.offcanvas .body-wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
body.rtl .sppb-slider-wrapper {
  direction: ltr;
}
body.rtl .sppb-slider-wrapper.varition-simple .sppb-slideshow-fullwidth-item-text {
  text-align: right;
}
body.rtl .sppb-slider-wrapper.varition-simple .owl-carousel .owl-controls {
  text-align: right;
  position: absolute;
  width: 60%;
}
body.rtl .owl-theme .owl-dots .owl-dot {
  float: right;
}
body.rtl .sppb-slider-fullwidth-wrapper.varition-animation .sppb-slideshow-fullwidth-item-text h1 small {
  left: inherit;
  right: -360px;
}
body.rtl .sppb-slider-fullwidth-wrapper.varition-animation .sppb-slideshow-fullwidth-item-text h1 span {
  left: inherit;
  right: 375px;
}
body.rtl .top-search-input-wrap .search-bottom-part h3:before {
  content: "\e91a";
  padding-right: 0;
  padding-left: 20px;
}
body.rtl .feedback-contact-form .sppb-media-body {
  padding-left: 0 !important;
}
body.rtl .sp-simpleportfolio
		.sp-simpleportfolio-item
		.sp-simpleportfolio-overlay-wrapper
		.sp-simpleportfolio-overlay
		.sp-vertical-middle >div
		.sp-simpleportfolio-title {
  text-align: right;
}
body.rtl .sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
  text-align: right;
}
body.rtl .sp-simpleportfolio.sp-simpleportfolio-view-item .sp-simpleportfolio-description .sp-simpleportfolio-info i {
  left: inherit;
  right: 50px;
}
body.rtl #sp-footer #sp-footer1 {
  text-align: right;
}
body.rtl #sp-footer .nav.menu {
  text-align: left;
}
body.rtl .rhino-skill-section .sppb-addon-text-block {
  padding-right: 0;
  padding-left: 150px;
}
body.rtl .rhino-skill-section .sppb-addon-feature .sppb-media .sppb-media-body {
  padding-left: 90px;
  padding-right: 25px;
}
body.rtl .sppb-addon-persion div.sppb-person-image .sppb-person-information {
  left: inherit;
  right: 20px;
}
body.rtl .why-choose-section .sppb-addon-feature .sppb-media .sppb-media-body {
  padding-left: 90px;
  padding-right: 25px;
}
body.rtl .feedback-contact-form .sppb-addon-feature .sppb-media .sppb-media-body {
  padding-left: 90px;
  padding-right: 30px;
}
body.rtl .feedback-contact-form .sppb-addon-text-block {
  padding-right: 0;
  padding-left: 150px;
}
body.rtl .feedback-contact-form .sppb-addon-ajax-contact {
  padding-right: 0;
  padding-left: 85px;
}
body.rtl .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form .sppb-form-group input {
  padding: 0 20px 0 0;
}
body.rtl .sppb-addon-ajax-contact .sppb-ajax-contact-content .sppb-ajaxt-contact-form .sppb-form-group textarea {
  padding: 15px 20px 0 0;
}
body.rtl .sppb-panel-heading .sppb-toggle-direction {
  right: inherit;
  left: 15px;
}
body.rtl .sppb-addon-accordion .sppb-panel .sppb-panel-heading span.title-number {
  margin-right: 0;
  margin-left: 25px;
}
body.rtl .reg-login-form-wrap .registration .form-group,
body.rtl .reg-login-form-wrap .login .form-group,
body.rtl .reg-login-form-wrap .form-links,
body.rtl .reg-login-form-wrap .registration >p {
  text-align: right;
}
body.rtl .reg-login-form-wrap .form-validate input {
  padding: 0 20px 0 0;
}
body.rtl .article-details-wrap .helix-social-share-wrap,
body.rtl .article-details-wrap .article-info {
  float: right;
}
body.rtl .article-details-wrap
		.article-info >dd {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .helix-social-share {
  float: left;
}
body.rtl .article-details-wrap .helix-social-share-wrap .helix-social-share {
  margin-left: 0;
  margin-right: 5px;
}
body.rtl .article-footer-top .helix-social-share {
  float: right;
}
body.rtl .article-footer-top .helix-social-share .helix-social-share-icon ul li div a {
  padding: 0 24px 0 48px;
}
body.rtl .pull-right {
  float: left !important;
}
body.rtl .pull-left {
  float: right !important;
}
body.rtl .sppb-text-left {
  text-align: right;
}
body.rtl .sppb-text-rigth {
  text-align: left;
}
body.rtl .sppb-media > .pull-left {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .sppb-progress-bar {
  float: right;
}
body.rtl .sppb-progress-label > span {
  float: left;
}
