.rtl{

	/*menu*/
	#sp-main-menu li li:not(.sp-menu-group).parent >a:after{
		left: 10px;
		right: auto;
	}
	#sp-main-menu li li:not(.sp-menu-group).parent >a:after{
		content: "\f053";
	}

	/*slider*/
	.sp-optima-layout .sp-slider-controllers .controller-next:before{
		content: "\f104" !important;
	}

	.sp-optima-layout .sp-slider-controllers .controller-prev:before{
		content: "\f105" !important;
	}

	#sp-search .search i{
		left: 10px;
		right: auto;

	}

	#sp-top-info{
		ul.social-icons, 
		img.hotline{
			float: left;
		}
		ul.social-icons{
			margin-left: 0;
		}
	}

	//twitter module
	.sp-tweet{
		.sp-tweet-item{
			background: url(../images/twitter-feed-icon-rtl.png) no-repeat 100% 5px;
		}
	}

	#sp-footer-wrapper{
		.sp-totop{
			float: left;
		}
		ul.nav li {
			display: inline-block;
			margin-left: 10px;
			padding-left: 10px;
			line-height: 10px;
			border-left: 1px solid #939393;
			border-right: 0;
			margin-right: auto;
			padding-right: 0;
		}
	}

	//subpage
	#sp-subheader h1{
		text-align: left;
	}
}