.nssp2.ns2-speaker .ns2-art-prev, .nssp2.ns2-speaker .ns2-art-next
{position:absolute;top:50%;margin:0 -20px;text-indent:-9999em;height:86px;width:42px;z-index: 999;}
.nssp2.ns2-speaker .ns2-art-next {right:0;background: url(images/speaker_arrow_right.png) no-repeat}
.nssp2.ns2-speaker .ns2-art-prev {left:0;background: url(images/speaker_arrow_left.png) no-repeat}
.nssp2.ns2-speaker {text-align:right}
.nssp2.ns2-speaker img.ns2-image {border-radius:100px;cursor:pointer;box-shadow:0 0 0 5px rgba(255,255,255,.5)}
.nssp2.ns2-speaker .ns2-column:hover img.ns2-image {margin-top:50px!important}

